.parent,.child{
  padding: 10px;
  box-sizing: border-box;
}
.parent{
  width: 100vw;
  background-color: slategray;
}
.a{
  width: 100%;
  background-color: azure;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.b{
  width: 100%;
  background-color: rosybrown;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}